


body {
  background: #c1e1b0; /* fallback for old browsers */
  background: rgb(217, 218, 216);
  background: linear-gradient(90deg, rgb(180, 211, 162) 0%, rgb(196, 223, 182) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}